name: Deploy - Azure Container Apps

concurrency:
  group: terraform-skycastnow-containerapps
  cancel-in-progress: false

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Docker image tag (git sha)"
        required: true

permissions:
  id-token: write
  contents: read

env:
  ARM_USE_OIDC: true
  ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

jobs:
  container_apps:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout infra repo
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.7.5"

      - name: Terraform Init
        working-directory: terraform
        run: |
          terraform init -reconfigure \
            -backend-config="resource_group_name=${{ secrets.TFSTATE_RESOURCE_GROUP }}" \
            -backend-config="storage_account_name=${{ secrets.TFSTATE_STORAGE_ACCOUNT }}" \
            -backend-config="container_name=${{ secrets.TFSTATE_CONTAINER }}" \
            -backend-config="key=aca.tfstate"

      - name: Terraform Apply (Container Apps)
        working-directory: terraform
        env:
          TF_VAR_deploy_apps: "true"
          TF_VAR_enable_app_service: "false"

          TF_VAR_backend_image:  "${{ secrets.ACR_LOGIN_SERVER }}/backend:${{ inputs.image_tag }}"
          TF_VAR_frontend_image: "${{ secrets.ACR_LOGIN_SERVER }}/frontend:${{ inputs.image_tag }}"

          TF_VAR_openweather_api_key: ${{ secrets.OPENWEATHER_API_KEY }}
          TF_VAR_mysql_admin_password: ${{ secrets.MYSQL_ADMIN_PASSWORD }}
        run: terraform apply -auto-approve
